/*Global*/
html{
    border-top: 11px solid #EDEDED;
}

body{
    font-family: arial, helvetica, sans-serif;
    width: 1175px;
    margin: auto;
}

/*Helpers*/

.clearfixx::after{
    content:"";
    clear:both;
    display: table;
}

/*container: head, logo y menu-lis*/
#container{
    width: 960px;
}
/*Head*/


/*logo*/

#logo{
    width: 375px;
    padding-left: 210px;
    margin: 0;
}

/*menu-list*/

/*.border-bottom{
    border-bottom: 6px solid #676766;

}*/
hr{
    width: 960px; height: 6px;
    background-color:#676766;
}

.menu-list{
    margin: 30px 0 0;
}

.menulist li{
    padding-left: 50px;
}
.menu-list li{
    list-style:none;
    float:left;
    margin-left: 40px;
}

.menu-list li a{
    text-decoration: none;
    color:#676766;
    font-weight: bold;

}

/*Bloque 1 MAIN INFO*/

.title{
    color:#D3001C;
}
.parrafo{
    color: #6E6E6E;
    width: 900px;
    height: 63px;
    font-size: 14px;
    line-height: 17px;
}

#title2{
    color:#8C0013;
}

h4{
    color: #707070;
}

p{
    color:#313131;
    
    
}

a{
    color:#D3001C;
    font-weight: bold;
    text-decoration:none;
}

span{
    font-weight: bold;
    color:#101010;
}

.caja1 + .caja2{
    margin-left:20px;
}
.caja1, .caja2{
    width: 440px; height: 347px;
    background-color:#F5F3F3;
    border-style: groove;
}

.caja1, .caja2{
    font-size: 14px;
    line-height: 17px;
}


.caja1{
    background-image: url(img/img1.png);
    background-repeat: no-repeat;
    background-position: top right;
}



.caja2{
    background-image: url(img/img2.png);
    background-repeat: no-repeat;
    background-position: top right;
}


/*Bloque 2*/


/*Footer*/

.footer{
    background-color:#E2E0E0;
    height: 90px; width: 960px;
}

.footer a{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
}